.places {
	display: grid;
	align-items: center;
	background-color: #2A2C2F;
	width: calc(100% - 2 * 148px);
	grid-row-gap: 80px;
	margin: 0 auto;
	padding: 0;
}

@media screen and (max-width: 1279px) {
	.places {
		width: calc(100% - 2 * 48px);
	}
}

@media screen and (max-width: 1023px) {
	.places {
		width: calc(100% - 2 * 24px);
		grid-row-gap: 73px;
	}
}

@media screen and (max-width: 767px) {
	.places {
		width: 100%;
		grid-row-gap: 50px;
		margin: 0;
	}
}