.cover__subtitle {
	position: absolute;
	text-align: center;
	font-style: normal;
	z-index: 1;
}

@media screen and (max-width: 1100px) {
	.cover__subtitle {
		width: 34%;
		height: 9%;
		line-height: 22px;
		font-size: 18px;
		margin: 429px 412px 245px;
	}
}

@media screen and (max-width: 999px) {
	.cover__subtitle {
		width: 40%;
		height: 10%;
		line-height: 22px;
		font-size: 18px;
		margin: 379px 332px 195px;
	}
}

	@media screen and (max-width: 665px) {
		.cover__subtitle {
			width: 56%;
			height: 9%;
			line-height: 22px;
			font-size: 18px;
			margin: 299px 204px 115px;
		}
	}

@media screen and (max-width: 470px) {
	.cover__subtitle {
		width: 89%;
		height: 6%;
		line-height: 16px;
		font-size: 14px;
		margin: 119px 16px 33px;
	}
}

