.cover__background {
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	text-decoration: none;
	object-fit: contain;
	
}

.cover__background:hover {
	width: 100%;
	height: 100%;
	cursor: pointer;
}

