.lead__caption {
	letter-spacing: 1.5px;
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: 400;
	font-style: normal;
	line-height: 14px;
	font-size: 10px;
	align-self: self-start;
	margin: 8px 0 0;
	white-space: nowrap;
}

@media screen and (max-width: 1023px) {
	.lead__caption {
		margin: 8px 0 0 24px;
	}
}

@media screen and (max-width: 767px) {
	.lead__caption {
		margin: 8px 0 0 16px;
	}
}