.cover__title {
	position: absolute;
	font-weight: 900;
	z-index: 1;
	margin: 0;
}


@media screen and (max-width: 1100px) {
	.cover__title {
		width: 47%;
		height: 20%;
		line-height: 76px;
		font-size: 72px;
	}
}

@media screen and (max-width: 999px) {
	.cover__title {
		width: 55%;
		height: 24%;
		line-height: 76px;
		font-size: 72px;
	}
}

@media screen and (max-width: 665px) {
	.cover__title {
		width: 73%;
		height: 10%;
		line-height: 76px;
		font-size: 72px;
	}
}


@media screen and (max-width: 470px) {
	.cover__title {
		width: 70%;
		height: 10%;
		line-height: 35px;
		font-size: 32px;
	}
}
